.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 1%;
  box-sizing: border-box;
}

.navBar_flex {
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
  background-color: rgb(193, 192, 195);
  padding: 1% 0;
  border-radius: 10px;
}

.navBar_flex a {
  text-decoration: none;
  font-size: 15px;
  background-color: darkslateblue;
  color: #fff;
  padding: 1% 5%;
  border-radius: 10px;
}

.productList_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%
}

.productList_grid div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(202, 202, 210);
  padding: 5%;
}

.productList_grid div article img {
  object-fit: contain;
  width: 100%;
  height: 30vh
}

.productList_grid div a {
  align-self: center;
  text-decoration: none;
  font-size: 12px;
  background-color: darkslateblue;
  border-radius: 10px;
  color: #fff;
  padding: 2% 0;
  width: 50%;
}

.productDetail {
  display: flex;
  justify-content: space-around;
}

.productDetail img {
  object-fit: contain;
  /* width: 100%; */
  height: 50vh;
}

.productDetail img:hover {
  transform: scale(1.3);
  cursor: move;
}

.productDetail article {
  width: 50%
}